@import '~sacss';
@import '~sacss/less/SACSS.less';
@import '~sacss/less/Helpers.less';


#SACSS(margin-top; mt; -1, 4, 8, 12, 16; 1/16rem);
#SACSS(margin-bottom; mb; -1, 4, 8, 12, 16; 1/16rem);
#SACSS(margin-right; mr; -1, 4, 8, 12, 16; 1/16rem);
#SACSS(margin-left; ml; -1, 4, 8, 12, 16; 1/16rem);

#SACSS(padding-top; pt; 4, 8, 12, 16; 1/16rem);
#SACSS(padding-right; pt; 4, 8, 12, 16; 1/16rem);
#SACSS(padding-bottom; pb; 4, 8, 12, 16; 1/16rem);
#SACSS(padding-left; pl; 4, 8, 12, 16; 1/16rem);

#SACSS(font-weight; fw; 600);
#SACSS(font-weight; fw; 600);
#SACSS(font-size; fs; 12, 14, 16, 20; 1/16rem);
#SACSS(line-height; lh; 16, 20, 24; 1/16rem);
#SACSS(border-radius; br; 2, 4; 1px);

.h24{ height: 1.5rem; }

.c\:l, .c\:l\:h:hover {
  color: #111;
}

.c\:m, .c\:m\:h:hover {
  color: #333;
}

.c\:s, .c\:s\:h:hover {
  color: #666;
}

.c\:xs, .c\:xs\:h:hover {
  color: #999;
}

.c\:primary, .c\:primary\:h:hover {
  color: #4c5fe2;
}

.td200 {
  transition-duration: 200ms;
}

/* others */
* {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

root {
  font-size: 16px;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

body, pre, form, input, p {
  margin: 0;
}

body {
  font-family: sans-serif;
}

body, html {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.g_wrap {
  margin-left: 1rem;
  margin-right: 1rem;
}

.g_row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.react-page {
  background-color: red;
}

.g_hr {
  border-bottom: 1px solid #ddd;
}

.g_hr_t {
  border-top: 1px solid #ddd;
}

.g_ell {
  #Ellipsis();
}

/* tips */
.g_tip[data-title] {
  text-indent: 0;
  position: relative;
  overflow: visible;
}

.g_tip[data-title]::before,
.g_tip[data-title]::after {
  position: absolute;
  left: 50%;
  -ms-pointer-events: none;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  z-index: 100;
}

.g_tip[data-title]::before {
  content: attr(data-title);
  top: -41px;
  max-width: 90vw;
  padding: 6px 10px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #373c42;
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  white-space: nowrap;
}

.g_tip[data-title]::after {
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top-color: #373c42;
  top: -12px;
}

.g_tip[data-title]:hover::before,
.g_tip[data-title]:hover::after,
.g_tip[data-title]:focus::before,
.g_tip[data-title]:focus::after {
  -webkit-transition: visibility .1s .1s;
  transition: visibility .1s .1s;
  visibility: visible;
}

.g_tip[data-title]:hover {
  outline: none;
}

select{
  font-size: 12/16*1rem;
  height: 24/16*1rem;
  border-color: #000000;
  border-radius: 3px;
}