
.input {
  height: 24/16*1rem;
  padding: 4/16*1rem 8/16*1rem;
  font-size: 12/16*1rem;
  line-height: 1rem;
  border-radius: 3px;
  background-color: #f5f5f5;
  display: inline-block;
  border:none 0;
}

.input._block {
  display: block;
}
