
.input {
  font-size: 14/16*1rem;
  padding: 6/16*1rem 0.5rem;
  border: 1px solid #999;
  line-height: 20/16*1rem;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
}

.input:focus, .input:hover {
  border-color: #333;
}

.input._block {
  display: block;
}
