
.btn {
  height: 24/16*1rem;
  padding: 4/16*1rem 8/16*1rem;
  font-size: 12/16*1rem;
  line-height: 1rem;
  border:none;
  box-shadow: inset 0 0 0 1px #000;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover {
  color: #4c5fe2;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn._block {
  display: block;
  width: 100%;
}

.btn._square {
  padding: 6/16*1rem;
}
